* {
    padding: 0px;
    margin: 0px;
}


@font-face {
    font-family: "CursedTimerUlil-Aznm.ttf";
    src: url("./CursedTimerUlil-Aznm.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.dad {
    height: 385px;
    width: 575px;
    left: -1996px;
    top: -1135px;
    border-radius: 0px;
    background-color: #19214b;

}

.text {
    height: 125px;

    display: flex;
    justify-content: space-around;


}

span {
    margin-top: 68px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
}

.matka {
    display: flex;
    justify-content: space-around;


}

.son {
    background-color: #080001;
    border-radius: 5px;

    Width: 155px;
    Height: 120px;

}

.sonic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 136px;

    color: #F94F6D;
    font-family: "CursedTimerUlil-Aznm.ttf";
}

.papa {
    display: flex;
    justify-content: space-around;
    margin-top: 26px;
    height: 45px;
}

.don1 {
    display: flex;
    justify-content: space-around;


}

.don2 {
    display: flex;
    justify-content: space-around;


}

.von1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    font-family: "CursedTimerUlil-Aznm.ttf";
}

.von2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    font-family: "CursedTimerUlil-Aznm.ttf";
}

.von3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    font-family: "CursedTimerUlil-Aznm.ttf";
}

.von4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    font-family: "CursedTimerUlil-Aznm.ttf";
}

.von5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    font-family: "CursedTimerUlil-Aznm.ttf";
}

.von6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    font-family: "CursedTimerUlil-Aznm.ttf";
}